* {
  margin: 0px;
  padding: 0px;
}
nav {
  background-color: #ffffff;
  width: 71%;
  max-width: 1400px;
  margin: 5px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav div {
  display: flex;
  gap: 20px;
}
#nav_btn {
  background-color: blue;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 160px;
  height: 45px;
  padding: 15px;
}
#nav_btn:hover {
  background-color: rgb(96, 94, 90);
  cursor: pointer;
}
.banner_section {
  background-color: burlywood;
  max-width: 1400;
  max-height: 600px;
}
#banner_container {
  background-image: url("assets/hero-bg.png");
  width: auto;
  max-height: 200px;
  padding: 50px 120px 180px 300px;
  display: flex;
  text-align: center;
}
.banner_text_area {
  text-align: center;
}

#banner_btn {
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 210px;
  text-align: center;
}
.banner_text_area {
  font-size: 20px;
  font-weight: bold;
}
.banner_text_area_p {
  padding: 15px 0px;
  font-size: small;
  color: #ffffff;
}
.btn_vault {
  background-color: rgb(70, 70, 202);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 25px;
  margin-right: 10px;
}
.btn_vault:hover {
  background-color: rgb(96, 94, 90);
  cursor: pointer;
}
.btn_see_work {
  background-color: rgb(24, 131, 37);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 170px;
  height: 25px;
}
.btn_see_work:hover {
  background-color: rgb(96, 94, 90);
  cursor: pointer;
}
.Ali_card {
  display: flex;
  justify-content: space-around;
  padding: 40px 120px;
}
.card {
  width: 300px;
  height: 200px;
  margin-bottom: 5px;
  text-align: center;
}
.card_circle {
  background-color: rgb(165, 60, 60);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 80px;
  margin: 10px;
}
.Ali_card h3 {
  font-size: 28px;
  font-weight: bold;
}
.Ali_card p {
  font-size: 20px;
}
.knowlege_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Knowledge_h1 {
  padding: 20px 0px;
  font-weight: bold;
  font-size: 40px;
}
.Knowledge_p {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
}

.knowledge_list {
  padding: 5px 0px;
  list-style-type: none;
}
.doubt_clear_section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
}
.doubt_clear_btn {
  background-color: rgb(24, 131, 37);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 170px;
  height: 40px;
  margin: 20px 0px;
}
.doubt_clear_btn:hover {
  background-color: rgb(96, 94, 90);
  cursor: pointer;
}
.doubt_clear_section div h2 {
  padding: 40px 0px 15px 0px;
  font-size: 35px;
}
.doubt_clear_section p {
  font-size: 20px;
  font-weight: 500;
}
footer {
  height: 300px;
  background-color: #47506e;
}
.footer_img {
  cursor: pointer;
  width: 25px;
  height: 25px;
  padding: 20px 15px 0px 0px;
}
.footer_img_h4 {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 100px 120px;
}
.footer_p {
  color: #ffffff;
  text-align: center;
}
